<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>IP Geolocation API</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h1>IP Geolocation API</h1>
                <div id="error"></div>
                <form id="geo">
                    <div class="form-group">
                        <label for="ip_address">IP Address</label>
                        <input type="text" class="form-control" id="ip_address" name="ip_address" placeholder="Enter IP Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Flag</th>
                        <th>IP Address</th>
                        <th>Country Name</th>
                        <th>City</th>
                        <th>Country Currency</th>
                        <th>Continent</th>
                        <th>Timezone</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(".btn-primary").on("click", function(e) {
            e.preventDefault();
            var ip_address = $("#ip_address").val();
            $.ajax({
                url: "{{url_for('post_geolocation')}}",
                method: "POST",
                data: {
                    ip_address: ip_address
                },
                beforeSend:function(){
                    // show loader button
                    $("#geo").find(".btn-primary").html("<i class='fa fa-spinner fa-spin'></i>");
                },
                success: function(data){
                    $(".table-bordered tbody").html("");
                    var html = "";
                    html += "<tr>";
                    html += "<td><img width='100' height='100' src='"+data.flag.png+"'></td>";
                    html += "<td>"+data.ip_address+"</td>";
                    html += "<td>"+data.country+"</td>";
                    html += "<td>"+data.city+"</td>";
                    html += "<td>"+data.currency.currency_name+"</td>";
                    html += "<td>"+data.continent+"</td>";
                    html += "<td>"+data.timezone.name+"</td>";
                    html += "</tr>";
                    $(".table-bordered tbody").append(html);

                    // hide loader button
                    $("#geo").find(".btn-primary").html("Submit");
                },
                error: function(err){
                    console.log(err);
                    $("#error").html(err.error);
                    // hide loader button
                    $("#geo").find(".btn-primary").html("Submit");
                }
            })
        })
    </script>
</body>
</html>